{% extends "layout.html" %}
{% load static %}

{% block tienda %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12" style="padding-top: 40px; padding-bottom: 40px;">
            <center><h1>Mi tienda</h1></center>
        </div>

        <div class="col-12 col-sm-10 col-md-8 col-lg-6" style="background-color:rgb(245, 236, 236);">
            <form id="form_cargar" action="/tienda/cargar/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <label for="id_producto">Producto:</label>
                <input type="text" name="producto" maxlength="200" required="" id="id_producto">
                <label for="id_fecha_publicacion">Fecha de publicación:</label>
                <input type="date" name="fecha_publicacion" required="" id="id_fecha_publicacion">
                <label for="id_imagen">Imagen:</label>
                <input type="file" name="imagen" accept="image/*" id="id_imagen">

                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="col-12" style="padding-bottom: 200px;">
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
	<script src="{% static 'js/jquery.js' %}" />	
    <script>
        $("#id_fecha_publicacion").datepicker({
            inline: true
        });
    </script>
{% endblock %}